.top{
  font-size:20px;
  color:#FF0000;
  padding:1px 1px 1px 300px;
  background-color: #0000FF;
}
.topsub{
  padding:1px 1px 1px 290px;
  color:#FFFF00;
  background-color:#000000;
}
.pw{
  color:#333132;
}